{% macro nestSelections(name) %}
{%- set type = getType(name) -%}
{
{%- for name, field in type.Fields -%}
    {{- name}}?:{% if field.Type.Kind.IsScalar() %}boolean{% else %}{{nestSelections(field.Type.Name)}}{% endif %};
{%- endfor -%}
}
{%- endmacro %}
{% macro listArgs(field) %} {
{%- for arg in field.Args -%}
    {{- arg.Name}}{% if arg.Nullable %}?{% endif %}:{% if field.Type.Kind.IsScalar() %}{{ field.Type|ts }}{% else %}{% endif %};
{%- endfor -%}
}
{%- endmacro %}
import { GQLClient, GQLResponse, buildQuery } from "./package/common"

{% for name, type in schema.Types %}
export interface {{ name }} {
    {% for name, field in type.Fields %}
        {{- name}}{%- if field.Nullable %}?{% endif %}:{{ field.Type|ts }}
        {%- if field.Repeated %}[]{% endif %};
    {% endfor %}
}

export interface {{ type.Name }}Selection {
    [index: string]: any;
    {% for name, field in type.Fields %}
        {{- name}}?:{% if field.Type.Kind.IsScalar() %}boolean{% if field.Args %} | {{ listArgs(field) }}{% endif %}{% else %}{{ nestSelections(field.Type.Name) }}{% endif %};
    {% endfor %}
}
{% endfor %}
{% for name, field in schema.Queries %}
export async function query{{ cap(name) }}({
    {%- for arg in field.Args %}
    {%- if !forloop.First %}, {% endif %}{{arg.Name}}
    {%- endfor -%}, selections}: {
    {%- for arg in field.Args %}
    {%- if !forloop.First %}, {% endif %}{{arg.Name}}{%- if arg.Nullable %}?{% endif %}:{{arg.Type|ts}}
    {%- endfor -%}, selections: {{ field.Type.Name }}Selection}): Promise<GQLResponse<{{field.Type|ts}}>> {
    let query = buildQuery("{{name}}", selections);
    const client = new GQLClient();
    const response: GQLResponse<{{field.Type|ts}}> = await client.post<{{field.Type|ts}}>("", { 
    {%- for arg in field.Args %}
    {%- if !forloop.First %}, {% endif %}{{arg.Name}}:{{arg.Name}}
    {%- endfor -%}});
    return response;
}
{% endfor %}

// early testing...
const users = await queryUsers({ sort: "", selections: { isActive: true, mainGroup: { name: true } }})